# ignoring test files and folders
test/**/*
test.*
*/**/test.*

# ignoring the log files
*/**/*.log

# ignoring the cache files
__pycache__/
/**/__pycache__/

# ignoring the python virtual environment
pyvenv/**/*
venv/**/*

# ignoring large data files
*/data/**/*
